<template>
<div class="question">
  <div class="row">
    <div class="col text-center">
      <h1 v-if="hosting">Únete al juego con este código</h1>
      <h1 v-else>Espera que el anfitrión comience el juego</h1>
      <h2>{{ quizId }}</h2>
    </div>
  </div>
  <div class="row">
    <div v-for="n in numPlayers" :class="`col player-${n}`" :key="`play${n}`">
      <i class="fa fa-user fa-5x fa-col"></i>
    </div>
    <div v-for="n in 4 - numPlayers" class="col" style="color: gray" :key="`${n}`">
      <i class="fa fa-user fa-5x"></i>
    </div>
  </div>
  <div v-if="hosting" class="row">
    <div class="col">
      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        @click="start"
        :disabled="numPlayers < 2">
        Empezar el juego
      </button>
    </div>
  </div>
</div>
</template>
<script>
import ws from '@/websocket';

export default {
  data: () => ({
    quizId: null,
    numPlayers: 0,
    userId: null,
  }),
  methods: {
    start() {
      ws.send(JSON.stringify({ event: 'start', quiz: this.quizId }));
    },
    wsOnMessage(event) {
      const data = JSON.parse(event.data);
      switch (data.event) {
        case 'joined':
          this.quizId = data.quiz;
          this.numPlayers = data.participants;
          break;
        case 'started':
          this.quizId = data.quiz;
          this.$router.push({
            name: 'question',
            params: {
              quizId: data.quiz,
              hosting: this.hosting,
              userId: this.userId,
              scores: data.scores,
            },
          });
          break;
        default:
          break;
      }
    },
  },
  created() {
    this.quizId = this.$route.params.quiz;
    if (!this.quizId) {
      this.$router.push({ name: 'home' });
    }
    this.userId = this.$route.params.userId;
    this.hosting = this.$route.params.hosting;
    this.numPlayers = Number.parseInt(this.$route.params.numParticipants, 10) || 0;
    ws.onmessage = e => this.wsOnMessage(e);
  },
};
</script>

<style scoped lang="scss">
.row {
  margin-bottom: 24px;
}
</style>
