<template>
<div class="hello">
  <div class="row text-center">
    <div class="col">
      <button class="btn btn-lg btn-primary btn-block" type="submit"
              @click="host">Comenzar un nuevo juego</button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <input
        id="quizId"
        type="text"
        placeholder="Código"
        v-model="quizId"
        class="form-control form-control-lg"
        />
      <input
        id="nick"
        type="text"
        placeholder="Nombre (opcional)"
        v-model="nick"
        class="form-control form-control-lg"
        />
      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        @click="join"
        >
        Únete a un juego
      </button>
    </div>
  </div>
  <a class="small" href="https://157.230.189.101:8888/">Agregar Excepción</a>
</div>
</template>

<script>
import ws from '@/websocket';

export default {
  name: 'Join',
  data: () => ({
    quizId: null,
    nick: null,
  }),
  methods: {
    wsOnMessage(payload) {
      const data = JSON.parse(payload.data);
      switch (data.event) {
        case 'hosting':
          this.$router.push({
            name: 'host',
            params: {
              quiz: data.quiz,
              hosting: true,
            },
          });
          break;
        case 'joined':
          if (!data.success) {
            break;
          }
          this.$router.push({
            name: 'host',
            params: {
              quiz: data.quiz,
              hosting: false,
              numParticipants: data.participants,
              userId: data.user,
            },
          });
          break;
        default:
          break;
      }
    },
    join() {
      ws.onmessage = e => this.wsOnMessage(e);
      ws.send(JSON.stringify({ event: 'join', quiz: this.quizId.toUpperCase(), nick: this.nick }));
    },
    host() {
      ws.onmessage = e => this.wsOnMessage(e);
      ws.send(JSON.stringify({ event: 'create' }));
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.row {
  margin-bottom: 24px;
}

#quizId {
  border-radius: .3rem .3rem 0 0;
}

#nick {
  border-radius: 0 0 .3rem .3rem;
  margin-top: -1px;
  margin-bottom: 5px;
}
</style>
