<template>
<div class="question text-center">
  <div class="row" v-if="!hosting">
    <div v-for="(score, player, i) in scores" :class="`col player-${i+1}`" :key="i">
      <i class="fa fa-user fa-2x fa-col mb-2" :class="{'fa-3x': player === userId}"></i>
      <div>{{ score }} {{ player }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1> {{ questionText }}</h1>
    </div>
  </div>
  <div class="row" v-if="hosting">
    <div v-for="(score, player, i) in scores" :class="`col player-${i+1}`" :key="i">
      <i class="fa fa-user fa-5x fa-col mb-2"></i>
      <div>{{ score }} {{ player }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mb-4" v-for="(answer, n) in answers" :key="n">
      <q-answer
        :msg="answer"
        :variant="n + 1"
        :flip="n === 0 || n === 3"
        :click="() => handleClickAnswer(n)"
        :disabled="answered === questionId"
        />
    </div>
  </div>
</div>
</template>
<script>
import QAnswer from '@/components/QAnswer.vue';
import ws from '@/websocket';

export default {
  components: {
    QAnswer,
  },
  data: () => ({
    answers: [],
    userId: null,
    questionId: null,
    quizId: null,
    hosting: false,
    questionText: null,
    answered: null,
  }),
  name: 'Join',
  methods: {
    handleClickAnswer(answer) {
      if (this.answered === this.questionId) {
        return null;
      }
      const msg = {
        quiz: this.quizId,
        question: this.questionId,
        user: this.userId,
        answer,
        event: 'answer',
      };
      this.answered = this.questionId;
      ws.send(JSON.stringify(msg));
      return null;
    },
    wsOnMessage(event) {
      const data = JSON.parse(event.data);
      console.log(data);
      switch (data.event) {
        case 'new_question':
          this.questionText = data.question_text;
          this.answers = data.answers;
          this.questionId = data.question;
          break;
        case 'answered':
          if (this.userId !== data.user || data.correct === true) {
            this.answered = null;
          }
          this.scores = data.scores;
          break;
        case 'winner':
          this.$router.push({
            name: 'winner',
            params: {
              quiz: this.quizId,
              winner: data.winner,
              scores: data.scores,
            },
          });
          break;
        default:
          break;
      }
    },
  },
  created() {
    ws.onmessage = e => this.wsOnMessage(e);
    this.hosting = this.$route.params.hosting;
    this.quizId = this.$route.params.quizId;
    if (!this.quizId) {
      this.$router.push({ name: 'home' });
    }
    this.userId = this.$route.params.userId;
    this.scores = this.$route.params.scores;
    if (this.hosting) {
      this.answered = null;
      ws.send(JSON.stringify({ event: 'get_question', quiz: this.quizId }));
    }
  },
};
</script>

<style scoped lang="scss">
.row {
  margin-bottom: 24px;
}

.variant-1 {
    background-image: linear-gradient(to bottom right,#EF1C6B, #EA3556);

    &:hover {
        background-image: linear-gradient(to bottom right, #EA3556, #EF1C6B);
        border-color: #EF1C6B;
    }
}

.variant-2 {
    background-image: linear-gradient(to bottom right,#61D2D6, #9BF0E9);

    &:hover {
        background-image: linear-gradient(to bottom right, #9BF0E9, #61D2D6);
        border-color: #61D2D6;
    }
}

.variant-3 {
    background-image: linear-gradient(to bottom right,#FCC300, #FFC619);

    &:hover {
        background-image: linear-gradient(to bottom right, #FFC619, #FCC300);
        border-color: #FFC300;
    }
}

.variant-4 {
    background-image: linear-gradient(to bottom right,#28E69F, #C9EA0C);

    &:hover {
        background-image: linear-gradient(to bottom right, #C9EA0C, #28E69F);
        border-color: #28E69F;
    }
}
</style>
