<template>
<div class="question">
  <div class="row">
    <div class="col text-center">
      <h1>El ganador es {{ winner }}</h1>
    </div>
  </div>
  <div class="row">
    <div v-for="(score, player, i) in scores" :class="`col player-${i+1}`" :key="i">
      <i class="fa fa-user fa-3x fa-col mb-3" :class="{'fa-5x': player === winner}"></i>
      <div>{{ score }} {{ player }}</div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  data: () => ({
    quizId: null,
    scores: null,
    winner: null,
  }),
  created() {
    this.quizId = this.$route.params.quiz;
    if (!this.quizId) {
      this.$router.push({ name: 'home' });
    }
    this.winner = this.$route.params.winner;
    this.scores = this.$route.params.scores;
  },
};
</script>

<style scoped lang="scss">
.row {
  margin-bottom: 24px;
}
</style>
