<template>
<div
  :class="['answer', 'm-1',`variant-${variant}`, {flip: flip, disabled: disabled}]"
  @click="click($event)"
  >
    {{ msg }}
  </div>
</template>

<script>
export default {
  props: {
    msg: String,
    variant: String,
    flip: Boolean,
    disabled: Boolean,
    click: {
      type: Function,
      default: () => {},
      required: false,
    },
  },
  computed: {
    classes() {
      return {
        flip: this.flip,
      };
    },
  },
};
</script>

<style scoped lang="scss">
.answer {
    border: 2px solid white;
    border-radius: 30px 60px;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 30px;

    &.flip {
        border-radius: 60px 30px;
    }
}

.disabled {
    opacity: 0.50;
}
</style>
