<template>
  <div id="app">
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
html {
  height: 100%;
}
body {
    height: 100%;
    background-image: linear-gradient(to bottom right, #ED146F, #EA3556);
    background-image: linear-gradient(to bottom right, #FCF2ED, #FFF7DC);
}

.player-1 {
    color: #EF1C6B;
}

.player-2 {
    color: #61D2D6;
}

.player-3 {
    color: #FCC300;
}

.player-4 {
    color: #28E69F;
}
</style>
